body {
	/* 배경 색상을 그라디언트로 설정합니다. 여기에서는 파란색에서 분홍색으로 변경되는 그라디언트를 사용하였습니다. */
	background: #222;

	/* 브라우저 창이 커지거나 작아져도 배경 이미지가 항상 전체 창을 채우도록 설정합니다. */
	background-size: cover;

	/* 배경 이미지가 스크롤되지 않도록 설정합니다. */
	background-attachment: fixed;

	/* 배경 이미지의 위치를 설정합니다. 여기에서는 배경 이미지를 화면의 가운데에 위치하도록 하였습니다. */
	background-position: center;

	/* 배경 색상이 이미지보다 아래에 위치하도록 설정합니다. */
	background-repeat: no-repeat;

	/* 웹페이지의 글자색을 흰색으로 설정합니다. */
	color: white;

	/* 기본 폰트를 설정합니다. */
	font-family: "Roboto", sans-serif;
}
h1 {
	text-align: center;
	font-size: 3rem;
}
.flashcard-wrap {
	overflow: hidden;
	height: 200px;
	width: 23%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	/* margin-bottom: 25px; */
	box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}
.flashcard {
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	transform-style: preserve-3d;
	position: relative;
	font-family: "Roboto", sans-serif;
}
.flashcard:hover {
	/* 호버 상태일 때 스케일을 약간 키우고, 그림자를 더 크게 만듭니다 */
	transform: scale(1.1);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.flashcard.flip {
	transform: rotateY(180deg);
}
.flashcard.flip .back {
	z-index: 2;
}
.flashcard .front,
.flashcard .back {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.flashcard .front {
	backface-visibility: hidden;
	z-index: 2;
}

.flashcard .back {
	transform: rotateY(180deg);
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #007cf0, #00b0ff);
	color: #fff;
	font-size: 4.5em;
	letter-spacing: -3px;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1; /* 추가된 코드 */
}
.flashcard img,
.flashcard p {
	position: relative;
	width: 100%;
	backface-visibility: hidden;
}

.flashcard img {
	transform: rotateY(0deg);
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.flashcard-image {
	width: 100%;
	height: auto;
}

.flashcard-name {
	text-align: center;
}
.flashcard p {
	transform: rotateY(180deg);
	text-align: center;
	font-size: 18px;
	color: #333;
}
.flashcard.flip {
	transform: rotateY(180deg);
}
.flashcard-wrap {
	width: 19%;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -60px;
}
.btn-wrap {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}
.btn-wrap button {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-wrap button:hover {
	background-color: #0056b3;
}
.scroll-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	background: linear-gradient(to right, #007cf0, #00b0ff);
	color: #fff;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	z-index: 999;
}
.scroll-top-btn:hover {
	background-color: #d32f2f;
}
.scroll-top-button:active {
	background-color: #b71c1c;
}
@media (max-width: 1200px) {
	html {
		font-size: 12px;
	}
	.flashcard-wrap {
		width: 31.5%;
		height: 152px;
	}
	body {
		padding: 10px;
	}
}
@media (max-width: 900px) {
	html {
		font-size: 8px;
	}
	.flashcard-wrap {
		width: 47%;
	}
	.flashcard.flip .back {
		letter-spacing: -2px;
	}
}
